/* базовые стили глобальные */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  position: relative;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* служебные стили */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  color: inherit;
  text-decoration: none;
}

.wrapper {
  max-width: 1140px;
  padding: 0 5px;
  margin: 0 auto;
}

/* бэм-блоки */
.button {
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: inherit;
  text-decoration: none;
  font-weight: 700;
}

.social-list {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-information p {
  margin: 0;
}

.title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 56px;
  line-height: 111%;
  text-transform: uppercase;
}

/* Шапка сайта */
.header {
  background-color: transparent;
  color: #ffffff;
  position: fixed;
  width: 100%;
  top: 21px;
  left: 0;
  right: 0;
  border-bottom: 1px solid #828282;
  transition: 0.3s;
  z-index: 111;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header .logo {
  max-width: 200px;
  width: 100%;
  position: relative;
  transition: 0.3s;
}

.header .logo img {
  width: 100%;
}

.social-list {
  max-width: 206px;
  width: 100%;
  position: relative;
  transition: 0.3s;
}

.header .social-list {
  margin-left: 100px;
}

.header .contact-information {
  max-width: 220px;
  width: 100%;
  margin-left: 50px;
  position: relative;
  transition: 0.3s;
}

.header .button {
  max-width: 221px;
  width: 100%;
  position: relative;
  transition: 0.3s;
}

.button {
  padding: 16px 20px;
  text-align: center;
  line-height: 100%;
  font-size: 14px;
  border: 4px solid #467637;
  color: #ffffff;
  background-color: transparent;
  transition: 0.3s;
}

.button--white {
  color: #000000;
  border: 4px solid #000000;
}

.button:hover {
  background-color: #467637;
  color: #ffffff;
}

.header .menu {
  max-width: 100%;
  width: 100%;
  position: relative;
}

.menu ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.menu a {
  font-weight: bold;
  font-size: 20px;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  transition: 0.3s;
}

.menu a:hover,
.menu a:focus,
.menu a:active {
  color: #D5C695;
}

.menu a::before {
  content: "|";
  position: absolute;
  right: -40px;
}

.menu li:last-child a::before {
  display: none;
}

header.sticky {
  background-color: #ffffff;
  top: 0;
  color: #000000;
  padding-top: 5px;
  border-bottom: none;
}

.sticky .button,
.sticky .link {
  color: #000000;
}

.sticky .button:hover,
.sticky .button:active,
.sticky .button:focus {
  background-color: #467637;
  color: #ffffff;
}

header.sticky .logo-white {
  display: none;
}

header .logo-color {
  display: none;
}

.sticky .logo-color {
  opacity: 1;
  display: block;
}

/* Первый экран */
.first-screen {
  background-color: #413D42;
  background-image: url("../img/bg/first-screen.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #ffffff;
  padding-top: 190px;
  padding-bottom: 140px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.first-screen__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.first-screen .title {
  color: #ffffff;
  margin: 0;
  margin-bottom: 25px;
  max-width: 100%;
  width: 100%;
}

.first-screen .title span {
  color: #D5C695;
}

.first-screen .subtitle {
  font-weight: 300;
  font-size: 42px;
  line-height: 110%;
  color: #FFFFFF;
  max-width: 500px;
  margin: 0;
}

.first-screen .subtitle span {
  font-weight: 700;
}

.first-screen .apartment-options {
  max-width: 555px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.apartment-options img {
  margin-bottom: 25px;
}

.apartment-options p {
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  color: #FFFFFF;
}

.apartment-options p span {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}

.home-advantages {
  max-width: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 85px;
}

.home-advantages li {
  max-width: 198px;
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 45px;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.home-advantages li::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 28px;
  background-image: url(../img/icons/star.svg);
}

.home-advantages p {
  margin: 0;
}

.contact-information {
  padding-left: 26px;
}

.contact-information a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 700;
  font-size: 20px;
}

.contact-information a::before {
  content: "";
  display: block;
  position: absolute;
  left: -26px;

  width: 16px;
  height: 16px;

  background-image: url(../img/icons/phone.svg);
}

.top-promo {
  background-color: #f7f7ec;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23f0f0e5' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.top-promo__wrapper {
  position: relative;
  margin-top: -100px;
  background-color: #ffffff;
  color: #000000;
  max-width: 1110px;
  margin: 0 auto;
  margin-top: -85px;
  padding: 35px 65px;
}

.top-promo__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.top-promo__title {
  margin: 0;
  max-width: 220px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  text-transform: uppercase;
  color: #000000;
}

.top-promo__title span {
  color: #284A2E;
  display: block;
}

.top-promo__description {
  font-size: 18px;
  margin: 0;
  max-width: 245px;
  width: 100%;
  color: #000000;
}

.button--green {
  background-color: #467637;
  color: #ffffff;
}

.button--white:hover,
.button--white:active,
.button--white:focus {
  background-color: #444444;
  border-color: #444444;
  color: #ffffff;
}

.button--green:hover,
.button--green:active,
.button--green:focus {
  background-color: #284A2E;
  border-color: #284A2E;
}

.top-promo__buttons-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  width: 100%;
}

.top-promo__buttons-wrapper .button {
  width: 100%;
  margin-bottom: 16px;
}

.top-promo__buttons-wrapper .button:last-child {
  margin-bottom: 0;
}

.feauteres {
  background-color: #f7f7ec;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='64' viewBox='0 0 32 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 28h20V16h-4v8H4V4h28v28h-4V8H8v12h4v-8h12v20H0v-4zm12 8h20v4H16v24H0v-4h12V36zm16 12h-4v12h8v4H20V44h12v12h-4v-8zM0 36h8v20H0v-4h4V40H0v-4z' fill='%23f0f0e5' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
  min-height: 600px;
}

.feauteres {
  padding: 57px 0 103px;
}

.feauteres__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5px;
}

.feauteres__list li {
  max-width: 350px;
  width: 100%;
  margin-bottom: 35px;
}

.feauteres__list img {
  margin-bottom: 15px;
  width: auto;
    height: 45px;
}

.feauteres__list p {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #000000;
}

.feauteres__list p span {
  text-transform: uppercase;
  display: block;
  font-weight: 700;
  margin-bottom: 5px;
}

.feauteres__button {
  display: block;
  max-width: 350px;
  margin: 0 auto;
}