.apartment-options img {
  margin-bottom: 25px;
}

.apartment-options p {
  font-size: 18px;
  line-height: 150%;
  margin: 0;
  color: #ffffff;
}

.apartment-options p span {
  font-size: 18px;
  line-height: 120%;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
}
