.top-promo {
  position: relative;
  background-color: #ffffff;
  color: #000000;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  padding: 35px 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__title {
    margin: 0;
    max-width: 220px;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 122%;
    text-transform: uppercase;
    color: #000000;
  }

  &__title span {
    color: #284a2e;
    display: block;
  }

  &__description {
    font-size: 18px;
    margin: 0;
    max-width: 245px;
    width: 100%;
    color: #000000;
  }

  &__buttons-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    width: 100%;
  }

  &__buttons-wrapper .button {
    width: 100%;
    margin-bottom: 16px;
  }

  &__buttons-wrapper .button:last-child {
    margin-bottom: 0;
  }
}
