.solutions {
  padding: 85px 0 80px;
}

.solutions__title {
  font-weight: 700;
  font-size: 44px;
  line-height: 120%;
  max-width: 970px;
  margin-bottom: 20px;
}

.solutions__wrapper {
  max-width: 940px;
  margin: 0;
  margin-left: 95px;
  position: relative;
  margin-bottom: 60px;
}

.solutions__wrapper::before {
  content: "";
  display: block;
  width: 64px;
  height: 4px;
  background-color: #467637;
  position: absolute;
  top: 10px;
  left: -100px;
}

.solutions__description {
  margin: 0;
  font-size: 18px;
  line-height: 120%;
  color: #284a2e;
  margin-bottom: 20px;
}

.solutions__footer {
  margin: 0;
  font-size: 14px;
  color: #000000;
}

.cards-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  & .cards-list__item {
    max-width: 25%;
    margin-bottom: 50px;
  }

  & a {
    color: inherit;
  }

  & figure {
    margin: 0;
  }

  & figcaption {
    text-align: center;
    color: inherit;
    font-style: italic;
    opacity: 0.7;
  }
}
